.spacer {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
}

.red-color {
    color:red;
}

.imagecontent{
    width: auto;
}

.tabcontent{
    background-color: #f2f2f2;
}

.card{
    margin: 5px;
}

.cardtitle{
    margin-top: -20px !important;
}

.cardcontent{
    margin-top: 5px;
    margin-bottom: 5px;
}

.img{
    margin-top: 10% !important;
    margin-left: 5% !important;
}